Header {
  margin-bottom: 2rem;
}

.add-and-search, main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.add-and-search > .search-box {
  margin-right: 3rem;
  justify-self: end;
}

main {
  margin-right: 3rem;
}
